/* ==================================================
Set a maximum width and center the content
================================================== */
.container {
    width: min(100% - var(--section-pad-inline), var(--max-width));
    margin-inline: auto;
    padding-block: var(--section-pad-block);

    &[data-size=small]{
        padding-block: var(--section-pad-block-sm);
    }

    &[data-size=extra-small]{
        padding-block: var(--section-pad-block-xs);
    }
}