/* ==================================================
Headings

The headings have some default behaviour. When you want
to change the size for a heading, use the
corresponding class.
================================================== */
h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
    font-weight: 700;
}

h1, .h1{
    font-size: var(--ft-xlarge);
    font-family: var(--ft-heading);
}
h2, .h2{
    font-size: var(--ft-large);
}
h3, .h3{
    font-size: var(--ft-medium);
}
h4, .h4, h5, h6{
    font-size: var(--ft-normal);
}
