img.media-full,
.media-full img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media-float-lt {
    float: left;
    margin-right: var(--gap-med);
    margin-bottom: var(--gap-med);
}
.media-25 {
    width: 25%;
    height: auto;
}
@media (min-width: 45.75em) {
    .media-50 {
        width: 50%;
        height: auto;
    }
}
.media-clear {
    clear: both;
}