/* ==================================================
Styling cards
================================================== */
$card-width: 320px;

.cards{
    --_media-height: 200px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
    grid-auto-rows: var(--_media-height) auto auto auto;
    column-gap: var(--_gap, var(--gutter));
    container-type: inline-size;
}

.card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: var(--corner-radius);
    overflow: hidden;
    margin-bottom: var(--_gap, var(--gutter));

    .media img{
            width: 100%;
            height: 100%;
            object-fit: cover;
    }

    .content{
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
        justify-items: start;
        align-items: start;
        padding: var(--_pad-y, var(--gutter-sm)) var(--_pad-x, var(--gutter-sm));
    }

    @container ( width > #{$card-width * 2} ) {
        &[data-size="wide"], &[data-size="extra-wide"]{
            grid-column: span 2;
        }
    }

    @container ( width > #{$card-width * 3} ) {
        &[data-size="extra-wide"]{
            grid-column: span 3;
        }
    }
    
}