/* ==================================================
It stacks the content over a background image
================================================== */
.img-stack {
    display: grid;
    place-items: var(--_content-position, center);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    min-height: var(--_height, fit-content);
    
    & > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    .media {
        position: absolute;
        inset: 0;
        z-index: -1;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: var(--_position, center);
            filter: brightness(var(--_backdrop, 1));
        }
    }

    .content {
        color: var(--_color, var(--color-text));
    }
}