/* ==================================================
Styling the logo that has an icon/image on the left
and a text on the right
================================================== */

.logo {
    display: flex;
    align-items: center;
    gap: var(--_logo-spacer, var(--gutter-xs));
    text-decoration: none;
    
    svg, img {
        height: var(--_height, 4rem);
        min-height: var(--_height, 4rem);
        max-height: var(--_height, 4rem);
        width: var(--_width, 4rem);
        min-width: var(--_width, 4rem);
        max-width: var(--_width, 4rem);
    }
    span {
        font-size: var(--_ft-size, var(--ft-medium));
    }
}