/* ==================================================
For accessibility, it styles the Skip Navigation button
that is accessible when using the keyboard
================================================== */
.skip-nav-link{
    background-color: var(--color-text);
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    border-radius: var(--corner-radius);
    position: absolute;
    z-index: 20;
    left: 1rem;
    transform: translateY(-120%);
    transition: transform 250ms ease;

    &:focus{
        color: var(--color-background);
        transform: translateY(1rem);
    }
}
