/* sections */
[data-component="Header"] {
    position: relative;
}

/* links */
a {
    color: var(--color-accent);
    
    &:hover,
    &:focus-visible  {
        color: var(--color-accent-hover);
    }     
}

/* marker, highlight, selections */
::selection,
mark {
    background-color: var(--color-accent);
    color: var(--color-background);
}

/* other */
abbr {
    cursor: help;
}