<aside class="content-grid">
  <ul class="bg-clr-accent rounded-corner | table-content">
    <li><a href="/documentations/">Documentation</a>
      <ul class="sub-content">
        <li><a href="/documentations/#installation">Installation</li></a></li>
        <li><a href="/documentations/#commencer-la-conception">Commencer la conception</li></a></li>
        <li><a href="/documentations/#compiler-le-site-web">Compiler le site web</li></a></li>
      </ul>
    </li>
    <li>Styles</li>
    <li>Composantes</li>
    <li>Snippets</li>
  </ul>
  </aside>