<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@@title</title>
		<meta name="description" content="@@description">
		<link rel="shortcut icon" href="/assets/images/logo.svg" type="image/svg+xml">
		<link rel="stylesheet" href="/style/main.css" />
		<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
		<script src="/script/libraries/prism.js" defer></script>
		<script src="/script/main.js" defer></script>
	</head>
	<body>
		<a class="skip-nav-link" href="#main-content">Passer la navigation</a>
		<header class="bg-clr-secondary" data-component="Header">
			<div class="main-header">
				<a class="logo" href="/" style="--_ft-size: 1.5rem">
					<svg data-v-fde0c5aa="" version="1.1" viewBox="0 0 25.888 27.391" xmlns="http://www.w3.org/2000/svg">
						<g id="b" transform="matrix(.34349 0 0 .34349 -4.1851 -3.0764)" style="fill:var(--color-primary)" data-v-fde0c5aa="">
							<path d="m38.2 88.7c-2.3 0-4.7-0.4-7-1.1-8.5-2.7-14.4-10-15.3-18.9l-3.6-35.3c-0.7-6.9 1.8-13.5 6.8-18.3s11.8-6.9 18.6-5.9l30.9 4.6c8.2 1.2 14.8 6.6 17.6 14.4s1.2 16.1-4.3 22.3l-27.2 30.7c-4.4 4.9-10.3 7.5-16.5 7.5zm-3.8-74.8c-4.4 0-8.6 1.7-11.8 4.8-3.9 3.7-5.8 8.9-5.2 14.2l3.6 35.3c0.7 6.9 5.2 12.5 11.8 14.6s13.6 0.2 18.2-5l27.3-30.7c4.3-4.8 5.5-11.3 3.3-17.3s-7.3-10.2-13.6-11.1l-31-4.6c-0.9-0.1-1.7-0.2-2.6-0.2z" style="fill:var(--color-primary)"/>
						</g>
					</svg>
					<span class="ft-heading">Legwarmer</span>
				</a>
				<button class="nav-toggle js-toggle" aria-label="Ouvrir/fermer bouton">
					<svg width="24" height="24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<g transform="matrix(.79591 0 0 .79591 1.0501 4.6798)">
							<rect class="top" width="27.512" height="3.3305" ry="1.6653"/>
							<rect class="middle" x=".0030403" y="7.4616" width="27.512" height="3.3305" ry="1.6653"/>
							<rect class="bottom" x=".0030403" y="15.064" width="27.512" height="3.3305" ry="1.6653"/>
						</g>
					</svg>
				</button>
				<nav class="bg-clr-secondary | navigation | js-menu">
					<ul>
						<li class="link"><a href="/demos/">Démos</a></li>
						<li class="link"><a href="/documentations/">Documentations</a></li>
						<li class="link"><a href="#">À propos</a></li>
						<li><a class="btn" href="#">Télécharger sur Github</a></li>
					</ul>
				</nav>
			</div>
		</header>